html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Arial';
	background: #282c34;
}
input,button {
	height: 20px;
	box-sizing: border-box;
	border: none;
}
#submit {
	height: 1.8em;
}
#post-title,#lastname,#name {
	outline: none !important;
	background: #eee;
}
input:focus {
    outline: none !important;
    border:1px solid #900;
  }
.wrapper {
	margin: 10vh 25vw;
	min-width: 30vw;
	min-height: 75vh;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	background: #282c34;
}
.form {
	margin: 3px auto;
}
.search {
	margin: 20px auto;
}
.title {
	margin: 1.5vw 0 0 1.5vw;
	text-align: left;
	color: #E06C75;
	border-bottom: 1px solid #E06C75;
	width: 100%;
}
button {
	cursor: pointer;
	min-width: 2.5vw;
	border-radius: 2px;
}
.list {
	margin: 0 5vw;
	padding: 5px;
}
.header {
	margin: 0 3vw;
	padding: 5px;
	font-size: 140%;
	border-bottom: 5px solid #282c34;
}
.header .post-title {
	background: #282c34;
	color: #61AFEF;
}
.header, .post {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #282c34;
	cursor: default;
}
.user > div {
	color: #ABB2BF;
	flex-grow: 1;
}
.user:hover div {
	color: #E06C75;
}
.user > button {
	margin: 0 2px;
}
.user-title {
	flex-grow: 1;
	margin-right: 5px;
	padding-left: 5px;
	background: #ABB2BF;
	height: 100%;
}

.del {
	background: #E06C75;
	cursor: pointer;
}
.swp {
	background: #61AFEF;
}

input {
	font-size: 1em;
	min-width: 2vw;
	text-align: left;
	padding-left: 1em;
	font-weight: bold;
}
.del:active {
	margin-top: 2px;
	margin-bottom: -2px;
}
.swp:active {
	margin-top: -2px;
	margin-bottom: 2px;
}
